<div class="web-navbar">
  <div >
    <nav style="font-family: 'Inter', sans-serif;" class="navbar navbar-expand-lg navbar-light ">

      <a routerLink="/" routerLinkActive="active" href="">
        <img style="margin-left: 10px;" width="200px" src="assets/images/logo.png" alt="">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span style="width: 24px; height: 24px;" class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse show" style="margin-top: 10px;" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class=" nav-item horizontal-line">
            <a ></a>
          </li>
          <li class="nav-item">
            <a style="color: #000000;" class="nav-link" routerLink="/products/mobile-units" fragment="vxone" routerLinkActive="active" href="#" translate>nav.mobile-units</a>
          </li>
          <li class="nav-item nav-right">
            <a style="color: #000000;" class="nav-link" routerLink="/products/lamps" fragment="x-serias-lamp" routerLinkActive="active"  href="" translate>nav.lamps</a>
          </li>
        </ul>
          <ul class="form-inline my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-link-right" routerLink="/" fragment="about" routerLinkActive="active" href="#" translate>nav.about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-right" routerLink="/stories" routerLinkActive="active" href="#" translate>nav.stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-right" routerLink="/" fragment="footer" routerLinkActive="active" href="#" translate>nav.contact</a>
          </li>
        </ul>
        <!-- <div class="nav-bar" style="float: right;"> -->
          <!-- <i class="fa fa-globe" aria-hidden="true" style="font-size: 24px;"></i> -->
          <!-- <button class=" btn-lang" (click)="useLanguage('en')">en</button>
          <button  class=" btn-lang" (click)="useLanguage('si')">si</button>
          <button class=" btn-lang" (click)="useLanguage('de')">de</button>
          <button class=" btn-lang" (click)="useLanguage('it')">it</button> -->
              <!-- <img style="margin-left: 10px;" (click)="useLanguage('en')" width="24px" src="assets/images/united.png" alt="">
          <img style="margin-left: 10px;" (click)="useLanguage('de')" width="24px" src="assets/images/germany.png" alt=""> -->
          <!-- <img style="margin-left: 10px;" (click)="useLanguage('si')" width="24px" src="assets/images/slovenia.png" alt=""> -->
          <!-- <div class="nav-translation"> -->
            <div >
              <div class="nav-translation">
                  <div class="dropdown1">
                    <!-- <button class="dropbtn">Dropdown</button> -->
                    <p class="dropbtn"></p><i class="fa fa-globe" aria-hidden="true" style="font-size: 24px;"></i>
                    <div class="dropdown-content1">
                      <button class=" btn-lang" (click)="useLanguage('en')">EN</button>
                        <button  class=" btn-lang" (click)="useLanguage('si')">SI</button>
                        <button class=" btn-lang" (click)="useLanguage('de')">DE</button>
                        <!-- <button class=" btn-lang" (click)="useLanguage('it')">IT</button> -->
                    </div>
                  </div>
              </div>
        </div>
      </div>
  </nav>
  </div>
</div>

<div >
  <div class="mobile-navbar">
      <div class="position-left">
        <a routerLink="/" routerLinkActive="active" href="">
        <img style="width: 180px;" src="assets/images/logo.png" alt=""></a>
      </div>
      <div class="position-right"> 
        <div class="dropdown">
          <div class="dropmenu">
            <img src="assets/images/menu.png" style="margin-bottom: 20px;" alt="">
          </div>
          <div class="dropdown-content">
            <a routerLink="/products/mobile-units" fragment="vxone" routerLinkActive="active" href="#"><p>Mobile Units</p></a>
            <a routerLink="/products/lamps" fragment="x-serias-lamp" routerLinkActive="active" href="#"><p>Lamps</p></a>
            <a routerLink="/" fragment="about" routerLinkActive="active" href="#"><p>About</p></a>
            <a routerLink="/" fragment="stories" routerLinkActive="active" href="#"><p>Stories</p></a>
            <a routerLink="/" fragment="footer" routerLinkActive="active" href="#"><p>Contact</p></a>
            <div class="nav-bar" style="margin-bottom: 20px; margin-left: 10px;">
              <button class=" btn-lang" (click)="useLanguage('en')">en</button>
              <!-- <img style="margin-left: 10px;" (click)="useLanguage('en')" width="24px" src="assets/images/united.png" alt="">
              <img style="margin-left: 10px;" (click)="useLanguage('de')" width="24px" src="assets/images/germany.png" alt=""> -->
              <!-- <img style="margin-left: 10px;" (click)="useLanguage('si')" width="24px" src="assets/images/slovenia.png" alt=""> -->
    
              <button  class=" btn-lang" (click)="useLanguage('si')">si</button>
              <button class=" btn-lang" (click)="useLanguage('de')">de</button>
            </div>
          </div>
          
        </div>
      </div>
  </div>
</div>

