
<div class="container">
  <div class="footer-section" id="footer">
    <div class="row">
      <div class="col-lg-6">
        <p class="footer-title">Get in touch to learn more about our Products</p>
      </div>
      <div class="col-lg-6" >
        <img src="assets/images/Decor-Dots-sm.png" alt="UV Lamp" >
      </div>
      <div class="col-lg-6">
        <p class="email-mobile">P +386 69 920 544 <br> E info@uvphotons.com</p>
        <p class="company-details">Wavenetic d.o.o. <br> Grsko 6, 1000 Ljubljana, Slovenia </p>
        <p class="manufactured">Developed and manufactured in <span class="EU-title">Slovenia - EU</span></p>
      </div>
      <div class="col-lg-6" id="about">
        <p class="safety-title">About</p>
        <p class="safety-text">With over 25 years of experience, UV Photons manufactures and develops premium handheld and mountable disinfection
        lamps, smart mobile robots, and precision UV measuring equipment.</p>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <a routerLinkActive="active" href="https://uvphotons.com/stories/about-uvc" style="text-decoration: none;">
        <p class="safety-title">What is UV Light</p>
        <p class="safety-text">Ultraviolet (UV) light is a form of light, invisible to the human eye, that exists on the electromagnetic spectrum
          between X-rays and visible light.</p>
        <div class="arrow"><span >&#8594;</span></div>
        </a>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <a routerLinkActive="active" href="https://uvphotons.com/stories/about-uv-safety" style="text-decoration: none;">
        <p class="safety-title">Safety</p>
        <p class="safety-text">UVC lamps used for disinfection purposes may pose potential health and safety risks depending on the UVC wavelength,
          dose, and duration of radiation exposure.</p>
        <div style="margin-bottom: 20px;"><span class="arrow">&#8594;</span></div>
        </a>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6 social">
        <div class=" social-media wavenetic">
          <p >© 2020 Wavenetic </p>
        </div>
        <div class=" social-media">
          <a href="https://twitter.com/uvphotons" class="card-link">
            <p>/ Twitter</p>
          </a>
        </div>
        <div class=" social-media">
          <a href="https://www.instagram.com/uvphotons/" class="card-link">
            <p>/ Instagram</p>
          </a>
        </div>
        <div class=" social-media">
          <a href="https://www.facebook.com/realuvphotons" class="card-link">
            <p>/ Facebook</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="footer-section" id="footer">
  <div class="container">
    <div class="footer">
      <div class="position-left">
        <p class="footer-title">Get in touch to learn more about our Products</p>
      </div>
      <div class="position-right">
        <div class="decor-dots">
        <img  src="assets/images/Decor-Dots-sm.png" alt="UV Lamp" >
        </div>
      </div>
    </div>
    </div>

    <div class="container">
    <div class="footer">
      <div class="position-left">
        <div class="footer-info">
        <p class="email-mobile">P +386 69 920 544 <br> E info@uvphotons.com</p>
        <p class="company-details">Wavenetic d.o.o. <br> Grsko 6, 1000 Ljubljana <br> Slovenia </p>
        <p class="manufactured">Developed and manufactured in <span class="EU-title">Slovenia - EU</span></p>
      </div>
      </div>
      <div class="position-right" id="about" style="padding-top: 50px;">
      <div class="footer-info2">
        <p class="safety-title" style="margin-top: 0px;">About</p>
        <p class="safety-text">With over 25 years of experience, UV Photons manufactures and develops premium handheld and mountable disinfection
        lamps, smart mobile robots, and precision UV measuring equipment.</p>

      </div>
    </div>
    <div class="position-right">
      <div class="footer-info2">
      <a routerLinkActive="active" href="https://blog.uvphotons.com/about-uvc/">
      <p class="safety-title">What is UV Light</p>
      <p class="safety-text">Ultraviolet (UV) light is a form of light, invisible to the human eye, that exists on the electromagnetic spectrum
      between X-rays and visible light.</p>
      <div class="arrow"><span style="font-size: 32px; text-decoration: none;">&#8594;</span>
      </div>
    </a>
    </div>
    </div>
    <div class="position-right">
      <div class="footer-info2">
        <a routerLinkActive="active" href="https://blog.uvphotons.com/about-uv-safety/">
          <p class="safety-title">Safety</p>
        <p class="safety-text">UVC lamps used for disinfection purposes may pose potential health and safety risks depending on the UVC wavelength,
        dose, and duration of radiation exposure.</p>
        <div class="arrow"><span style="font-size: 32px; text-decoration: none;">&#8594;</span></div>
      </a>
      </div>
  </div>
  <div class="position-right social-footer" >
    <div class="footer-info2">
    <div class="social" >
      <p class="social-media wavenetic">© 2020 Wavenetic </p>
      <a href="https://twitter.com/uvphotons" class="card-link">
        <p class="social-media">/ Twitter</p>
      </a>
      <a href="https://www.instagram.com/uvphotons/" class="card-link">
        <p class="social-media">/ Instagram</p>
      </a>
      <a href="https://www.facebook.com/realuvphotons" class="card-link">
        <p class="social-media">/ Facebook</p>
      </a>
    </div>
    </div>
    </div>
  </div>
</div>
</div> -->

