
<div class="container">
  <div class="footer-section" id="footer">
    <div class="row">
      <div class="col-lg-6">
        <p class="footer-title" translate>footer.title</p>
      </div>
      <div class="col-lg-6" >
        <img src="assets/images/Decor-Dots-sm.png" alt="UV Lamp" >
      </div>
      <div class="col-lg-6">
        <p class="email-mobile">P +386 69 920 544 <br> E info@uvphotons.com</p>
        <p class="company-details">Wavenetic d.o.o. <br>{{'footer.address' | translate }} </p>
        <p class="manufactured" translate>footer.manuf-text <span class="EU-title" translate>footer.manuf-country</span></p>
      </div>
      <div class="col-lg-6" id="about">
        <p class="safety-title" translate>about</p>
        <p class="safety-text" translate>footer.about-text</p>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <a routerLinkActive="active" href="https://uvphotons.com/stories/about-uvc" style="text-decoration: none;">
        <p class="safety-title" translate>footer.uvlight-title</p>
        <p class="safety-text" translate>footer.uvlight-text</p>
        <div class="arrow"><span >&#8594;</span></div>
        </a>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <a routerLinkActive="active" href="https://uvphotons.com/stories/about-uv-safety" style="text-decoration: none;">
        <p class="safety-title" translate>footer.safety</p>
        <p class="safety-text" translate>footer.safety-text</p>
        <div style="margin-bottom: 20px;"><span class="arrow">&#8594;</span></div>
        </a>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6 social">
        <div class=" social-media wavenetic">
          <p >© 2022 Wavenetic </p>
        </div>
        <div class=" social-media">
          <a href="https://twitter.com/uvphotons" class="card-link">
            <p>/ Twitter</p>
          </a>
        </div>
        <div class=" social-media">
          <a href="https://www.instagram.com/uvphotons/" class="card-link">
            <p>/ Instagram</p>
          </a>
        </div>
        <div class=" social-media">
          <a href="https://www.facebook.com/realuvphotons" class="card-link">
            <p>/ Facebook</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


