<video controls class="video" width="100%" #videoPlayer autoplay [muted]="'muted'" loop>
  <source  src="assets/video/vx-one-air.mp4" >
</video>
<div class="container cont">
  <div class="image-section1">
    <div class="intro-text1">
      <div class="on-top" id="vxone-air">
        <div class="row">
          <div class="col-lg-6">
            <div class="window">
              <p class="col-12 vxones-title1" >VX-One Air</p>
              <p class="col-12 vxones-text1" translate>oneAir-page.box-text</p>
              <button type="button" class="btn btn-order" (click)="openModal('order-modal')" translate>order</button>
            </div>
            </div>
            <div class="col-lg-6 decor-dots1"><img class="" src="assets/images/Decor-Dots.png" width="100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="vxone-screen-function" id="func-vxone-air">
    <div class="row">
      <div class="col-lg-6">
        <p class="vxone-s-title" translate>oneAir-page.title</p>
        <p class="title"><span class="numbers">1</span> {{'oneAir-page.auto-oper' | translate }}</p>
        <div class="text" [class.show]="showMore1">
          <p class="show-text" translate>oneAir-page.auto-oper-text</p>
        </div>
        <p class="title"><span class="numbers">2</span>{{'oneAir-page.sensors' | translate }}</p>
        <div class="text" [class.show]="showMore2">
          <p class="show-text" translate>oneAir-page.sensors-text
            <ng-container *ngIf="showMore2">
               {{'oneAir-page.sensors-hiden-text' | translate }}
            </ng-container>
            <button type="button" class=" show-btn" (click)="showMore2= !showMore2">{{showMore2 ?'hide':'...' }}</button></p>
        </div>
        <!-- <p class="text">The unit incorporates volatile organic compounds (VOCs) sensors with advanced VOC Index algorithms and MCERTS-certified fine particulate matter PM2.5 and PM10 sensors, providing a real-time picture of room AIR quality.</p> -->
        <p class="title"><span class="numbers">3</span>{{'oneAir-page.silent-operation' | translate }}</p>
        <p class="text" style="margin-bottom: 0px;" translate>oneAir-page.silent-oper-text</p>
      </div>
      <div class="col-lg-6">
          <div class="row vxone-decoraiton">
            <img class=" col-lg-12  touch-screen-img" src="assets/images/touch-screen-bg.png"  alt="">
            <p class="col-lg-12" style="font-size: 24px; text-align: center; margin-bottom: 0px;" translate>oneAir-page.touch-screen</p>
          </div>
      </div>
    </div>
  </div>

  <div class="container vxone-screen-function" >
    <div class="row">
      <div class="col-lg-12">
        <ngx-gallery class="ngx-gallery" style="width: 100%; height: 600px; float: right;" [options]="galleryOptions" [images]="galleryImages" ></ngx-gallery>
      </div>
    </div>
  </div>

  <!-- <div class="vxones-video" id="video-section">
    <div class="row">
      <div class="col-lg 6">
        <img class="vxone-hospital store-img" src="assets/images/uvphotons_vxone_air_gum.jpg" alt="VX ONE S UVC disinfection unit">
      </div>
      <div class="col-lg 6">
        <img class="vxone-hospital" src="assets/images/uvphotons_vxone_air_store.jpg" alt="VX ONE S UVC disinfection unit">
      </div>
    </div>
  </div> -->

  <div class="vxone-function">
    <div class="row">
      <div class="col-lg-6">
        <p class="vxone-s-title" translate>oneAir-page.title-unit</p>
        <p class="title"><span class="numbers">1</span>{{'oneAir-page.filter' | translate }}</p>
        <p class="text" translate>oneAir-page.filter-title</p>
        <p class="title"><span class="numbers">2</span>{{'oneAir-page.cont-fan' | translate }}</p>
        <p class="text" translate>oneAir-page.cont-fan-text</p>
        <p class="title"><span class="numbers">3</span>{{'oneAir-page.chamber' | translate }}</p>
        <p class="text" translate>oneAir-page.chamber-text</p>
        <p class="title"><span class="numbers">4</span>{{'oneAir-page.hera-filter' | translate }}</p>
        <p class="text" translate>oneAir-page.hera-text</p>
        <a href="https://uvphotons.com/datasheet/UVPhotonsVXOneAIR.pdf"><button type="button" class="btn btn-datasheet" translate>datasheet</button></a>
        <!-- <a href="https://uvphotons.com/datasheet/P_2020_1015_VXONE.pdf" fragment="x-serias-lamp"><button type="button" class="btn btn-measurements-second">UV-C measurements</button></a> -->
      </div>
      <div class="col-lg-6">
          <div class="vxone-decoraiton">
            <img class="decor-dots-vxone" src="assets/images/VXone_Air-num.jpg" alt="">
          </div>
      </div>
      <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <!-- <ngx-gallery class="ngx-gallery" style="width: 110px; height: 38px; float: right;" [options]="galleryOptions" [images]="galleryImages" ></ngx-gallery> -->
          </div>
    </div>
  </div>

  <div class="operation-benefits">
    <div class="row">
      <div class="col-lg-6">
      <div class="operation">
        <p class="vxone-s-title" translate>oneAir-page.operation-box</p>
        <p class="text" translate>oneAir-page.operation1</p>
        <p class="text" translate>oneAir-page.operation2</p>
        <p class="text" translate>oneAir-page.operation3</p>
        <p class="text" translate>oneAir-page.operation4</p>
        <p class="text" translate>oneAir-page.operation5</p>
      </div>
    </div>
      <div class="col-lg-6 benefits">
      <div class="operation">
        <p class="vxone-s-title" translate>oneAir-page.benefits-box</p>
        <p class="text" translate>oneAir-page.benefits1</p>
        <p class="text" translate>oneAir-page.benefits2</p>
        <p class="text" translate>oneAir-page.benefits3</p>
        <p class="text" translate>oneAir-page.benefits4</p>
      </div>
      </div>
    </div>
  </div>


  <div class="information-section">
    <hr class="new1">
    <div class="row" (click)="openDialogA()">
      <div class="col-9">
        <p class="blog-title1" translate>oneAir-page.tech-charact</p>
      </div>
      <div class="col-3">
        <img class="arrow-down" src="assets/images/arrow-down.png">
      </div>
    </div>
    <div class="content" id="{{'a'}}">
    <div class="tech-char">
      <div class="row">
        <p class="col-8 tect-text" style="margin-bottom: 0;" translate>oneAir-page.techAirflow</p>
        <p class="col-4 tech-num" style="text-align: right; margin-bottom: 0;">960</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techPower</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">440</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techNumber</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">8</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techControl</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">YES</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-6" style="margin-bottom: 0;" translate>oneAir-page.techFilter</p>
        <p class="col-6" style="text-align: right; margin-bottom: 0;">450x350x250</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-6" style="margin-bottom: 0;" translate>oneAir-page.techHEPA</p>
        <p class="col-6" style="text-align: right; margin-bottom: 0;">450x350x250</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techWidth</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">565</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techDepth</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">565</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techHeight</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">1713</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techSupply</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">230</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techConsum</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">550</p>
      </div>
      <hr>
      <div class="row">
        <p class="col-8" style="margin-bottom: 0;" translate>oneAir-page.techWeight</p>
        <p class="col-4" style="text-align: right; margin-bottom: 0;">30</p>
      </div>
      <!-- <hr> -->
    </div>
    </div>
    <hr class="new1">
    <div class="row" (click)="openDialogC()">
      <div class="col-9">
        <p class="blog-title1" translate>oneAir-page.certifications</p>
      </div>
      <div class="col-3">
        <img class="arrow-down" src="assets/images/arrow-down.png">
      </div>
    </div>
    <div class="content" id="{{'c'}}">
      <p translate>oneAir-page.certif-text
        <a href="https://uvphotons.com/datasheet/VXAIR2020121401-CE.pdf">{{'oneAir-page.here' | translate }}</a></p>
  </div>
    <hr class="new1">
  </div>

  <div class="section-products">
    <div class="row">
      <div class="col-lg-6">
        <a routerLink="/products/vxone" routerLinkActive="active">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/VX_OneS.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>product</div>
            <div class="lamp-titles">VX ONE S</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 c-serias-margin">
        <a routerLink="/products/lamps" fragment="x-serias-lamp" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/X-35W.jpg" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>product</div>
            <div class="lamp-titles" translate>lamps <br> {{'oneAir-page.series' | translate }}</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="blog" id="stories">
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/uvc-air-purifiers-everything-you-need-to-know" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">18. Jan - Ljubljana</p>
              <p class="blog-title" translate>oneAir-page.uv-air-purifiers</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/uvc-kills-covid-19" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">03. Jul - Ljubljana</p>
              <p class="blog-title" translate>oneAir-page.uvc-covid</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <a routerLink="/stories"  routerLinkActive="active" href="#" style="text-decoration: none; color: black;">
      <button type="button" class="btn-stories" translate>all-stories</button>
    </a>
  </div>
</div>

<jw-modal id="order-modal">
  <app-ordermodal></app-ordermodal>
  <!-- <button (click)="closeModal('order-modal');" class="btn-close">Close</button> -->
</jw-modal>
