
<app-bg-img-lamps></app-bg-img-lamps>
<div class="container">
  <div class="disc-title">
    <div class="row">
      <div class="col-lg-12">
        <p class="lamps-discription">Disinfection residential and commercial buildings,
          hospitals, schools, shops, warehouses, and more.</p>
      </div>
    </div>
  </div>

  <div id="x-serias-lamp">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/images/Decor-Dots-xs.png" alt="UV Lamp" >
      </div>
      <div class="col-lg-6">
        <p class="product-title-X">X-Series Lamps</p>
        <p class="product-text-X">Universal handheld or mounted UVC lamps. Made from stainless steel, a special reflective unit, protective casing, and a heat absorbent compartment.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 lamp-margin lamp-margin-botom">
        <a routerLink="/products/x35w" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/X-35W.jpg" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod">Product</div>
            <div class="lamp-titles">X-35W Lamp</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 lamp-margin lamp-margin-botom">
        <a routerLink="/products/xl36w" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/XL-36W.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod">Product</div>
            <div class="lamp-titles">XL-36W Lamp</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 lamp-margin">
        <a routerLink="/products/xxl55w" routerLinkActive="active">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/XXL-55W.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod">Product</div>
            <div class="lamp-titles">XXL-55W Lamp</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a routerLink="/products/xl70w" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/XXL-55W.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod">Product</div>
            <div class="lamp-titles">XL-70W Lamp</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div id="c-serias-lamp">
    <div class="row" >
      <div class="col-lg-6" >
        <p class="product-title-C">C-Series Lamp</p>
        <p class="product-text-C">The C series represents UV Photons ceiling mountable lamps. Made from reflective light aluminum and two powerfull 55W UVC lamps. Each lamp can radiate up to 5x5m.</p>
      </div>
      <div class="col-lg-6 dots-botom">
        <img style="float: right;" src="assets/images/Decor-Dots-xs.png" alt="UV Lamp" >
      </div>
      <div class="col-lg-6">
        <a routerLink="/products/c110w" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/C-110W.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod">Product</div>
            <div class="lamp-titles">C-110W Lamp</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>

