<div class="container">
  <div class="section-products" id="vxone">
    <div class="row">
      <div class="col-lg-12 space-botton">
        <p class="title-product" translate>products.prod-title</p>
      </div>

      <div class="col-lg-6 space-botton">

        <a routerLink="/products/vxone-air" fragment="func-vxone-air" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/VXONE_AIR.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>products.pod-title-Air</div>
            <div class="lamp-titles">VX One Air <br> {{'products.unit' | translate }} </div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      
      <!-- <div class="col-lg-6 space-botton" id="lamps">
        <img src="assets/images/Decor-Dots-md1.png" alt="UV Lamp">
      </div> -->
      <div class="col-lg-6 space-botton">
        <a routerLink="/products/vxone" routerLinkActive="active"  href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/VX_OneS.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>products.pod-title-S</div>
            <div class="lamp-titles">VX ONE S <br> {{'products.unit' | translate }}</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
            <!-- <div class="prod-title"><p>UV-C AIRsterilization</p></div> -->
          </div>
        </a>
      </div>
      <!-- <div class="col-lg-6 space-botton" id="lamps">
        <img src="assets/images/Decor-Dots-xmd.png" alt="UV Lamp">
      </div> -->
      <div class="col-lg-6 prod-bot">
        <a routerLink="/products/lamps" fragment="x-serias-lamp" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/X-35W.jpg" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>products.pod-title-X</div>
            <div class="lamp-titles" translate>products.x-series <br> {{'products.lamps' | translate }}</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
            <!-- <div class="prod-title"><p>UV-C AIRsterilization</p></div> -->
          </div>
        </a>
      </div>
      <!-- <div class="col-lg-6 space-botton dots-bottom" >
        <img src="assets/images/Decor-Dots-xs.png" alt="UV Lamp">
      </div> -->
      <div class="col-lg-6">
        <a routerLink="/products/lamps" fragment="c-serias-lamp" routerLinkActive="active">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/C-110W.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>products.pod-title-C</div>
            <div class="lamp-titles" translate>products.c-series <br> {{'products.lamps' | translate }}</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
            <!-- <div class="prod-title"><p>UV-C AIRsterilization</p></div> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>




