
#stories {
  padding-top: 70px;
}

.new1 {
  margin: 30px 0;
}

.new2 {
  margin: 30px 0;
}

.new4 {
  /* border: 1px solid black; */
  width: 100%;
  margin: 30px 15px;

}

/* .blog-post {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  padding: 0 100px;
} */

.blog-post-short {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  padding: 0 100px;
}

.blog {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  padding: 0 100px;

}

.blog-data {
  font-size: 18px;
  color: #B2B2B2;
  font-weight: 300;
}

.blog-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 0px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.btn-stories {
  width: 109px;
  height: 40px;
  border: 2px solid #E2E2E2;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}



.blog-posts {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

.row {
  outline : none;
}

/* .row:active {
  outline : none;
  outline: 0;
  border-color: transparent !important;
} */

@media screen and (max-width: 992px) {

  #stories {
    padding-top: 50px;
  }

  .blog-title {
    font-size: 18px;
  }
  .blog-data {
    font-size: 16px;
  }

}
@media screen and (max-width: 768px) {
  .blog {
    padding: 0 40px;
  }
  .blog-post-short {
    padding: 0 40px;
  }
}

@media screen and (max-width: 499px) {
  .blog-title {
    font-size: 16px;
  }
  .blog-data {
    font-size: 14px;
  }
  .blog {
    padding: 0 15px;
  }
  .blog-post-short {
    padding: 0 30px;
  }
}

