 <!-- <div class="container">
  <div class="blog" id="stories">
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/can-you-kill-bed-bugs-with-uvc-light" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">15. December - Ljubljana</p>
              <p class="blog-title">Can You Kill Bed Bugs with UVC Light?</p>
            </div>
            <div class="col-3 arrow" >
              <span style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/uvc-and-foodborne-pathogens" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">5. November - Ljubljana</p>
              <p class="blog-title">UV-C and Foodborne Pathogens</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/odor-from-uvc-systems" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">26. Jul - Ljubljana</p>
              <p class="blog-title">All about odor from UV-C Systems</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/uvc-kills-covid-19" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">3. Juny - Ljubljana</p>
              <p class="blog-title">UV-C and Covid-19 virus situation</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/about-uv-safety" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">31. May - Ljubljana</p>
              <p class="blog-title">About UV (UV-C) Safety</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <a routerLink="/stories"  routerLinkActive="active" href="#" style="text-decoration: none; color: black;">
      <button type="button" class="btn-stories" >All Stories</button>
    </a>
  </div>
 </div> -->

 <!-- <div class="container">
  <div id="stories">
    <div class="row" *ngIf="isLoaded">
      <div class="col-12 blog-post-short">
        <hr class="new2">
        <div class="row" style="cursor: pointer;"
         *ngFor="let blog of blogPostShort.posts; index as i" [routerLink]="['/stories/',blog.slug]"
         >
          <div class="col-9" >
            <p class="blog-data">{{blog.created_at | date:'d MMMM yyyy'}}</p>
            <p class="blog-title">{{blog.title}}</p>
          </div>
          <div class="col-3 arrow" >
            <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
          </div>
          <hr class=" new4">

        </div>
        <a routerLink="/stories"  routerLinkActive="active" href="#" style="text-decoration: none; color: black;">
          <button type="button" class="btn-stories" >All Stories</button>
        </a>
      </div>
    </div>
  </div>
</div> -->

