<div class="container cont">
  <div class="image-section1">
    <div class="img-gradient">
      <img src="assets/images/uvphotonsc110.jpeg" alt="VX ONE" class="img-bg" style="width:100%;">
    </div>
    <div class="intro-text">
      <div class="row">
          <p class="uvphotons-title1" translate>lamps-page.header-title <br> {{'lamps' | translate }}</p>
      </div>
      <div class="on-top">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 decor-dots1"><img class="" src="assets/images/Decor-Dots.png" width="100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

