
<div class="cont">
  <div class="image-section1">
    <div class="img-gradient">
      <img src="assets/images/uvphotons_vxoneair_vxones1.jpg" alt="VX ONE" class="img-bg" style="width:100%;">
    </div>
    <div class="container">
    <div class="intro-text">
      <div class="row">
          <p class="uvphotons-title1" translate>m-units-page.header-m-title <br> {{'nav.mobile-units' | translate }}</p>
      </div>
      <div class="on-top">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 decor-dots1"><img class="" src="assets/images/Decor-Dots.png" width="100%"></div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="disc-title">
    <div class="row">
      <div class="col-lg-12">
        <p class="lamps-discription" translate>m-units-page.title</p>
      </div>
    </div>
  </div>

  <div id="vxone">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/images/Decor-Dots-xs.png" alt="UV Lamp" >
      </div>
      <div class="col-lg-6">
        <p class="product-title-X" translate>m-units-page.one-series</p>
        <p class="product-text-X" translate>m-units-page.oneAir-text</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 lamp-margin lamp-margin-botom">
        <a routerLink="/products/vxone" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/VX_OneS.png" alt="VX One S" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>product</div>
            <div class="lamp-titles">VX ONE S</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a routerLink="/products/vxone-air" fragment="func-vxone-air" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/VXONE_AIR.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>product</div>
            <div class="lamp-titles">VX ONE AIR</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

