<video controls class="video" width="100%" #videoPlayer autoplay [muted]="'muted'" loop>
  <!-- <app-header></app-header> -->
  <source  src="assets/video/vx-one-s.mp4" >
</video>
<div class="container cont">
  <div class="image-section1">
    <div class="intro-text1">
      <div class="on-top">
        <div class="row">
          <div class="col-lg-6">
            <div class="window">
              <p class="col-12 vxones-title1">VX-One S</p>
              <p class="col-12 vxones-text1" translate>ones-page.box-text</p>
              <button type="button" class="btn btn-order" (click)="openModal('order-modal')" translate>order</button>
            </div>
            </div>
            <div class="col-lg-6 decor-dots1"><img class="" src="assets/images/Decor-Dots.png" width="100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container"> 
  <div class="vxone-function">
    <div class="row">
      <div class="col-lg-6">
        <p class="vxone-s-title" translate>ones-page.title</p>
        <p class="title"><span class="numbers">1</span>{{'ones-page.auto-meas' | translate }}</p>
        <p class="text" translate>ones-page.auto-meas-text</p>
        <p class="title"><span class="numbers">2</span>{{'ones-page.safe' | translate }}</p>
        <p class="text" translate>ones-page.safe-text</p>
        <p class="title"><span class="numbers">3</span>{{'ones-page.powerful' | translate }}</p>
        <p class="text" translate>ones-page.power-text</p>
        <p class="title"><span class="numbers">4</span>{{'ones-page.extendable' | translate }}</p>
        <p class="text" translate>ones-page.extend-text</p>
        <a href="https://uvphotons.com/datasheet/uvphotons-vxones.pdf"><button type="button" class="btn btn-datasheet" translate>datasheet</button></a>
        <a href="https://uvphotons.com/datasheet/P_2020_1015_VXONE.pdf"><button type="button" class="btn btn-measurements-second" translate>ones-page.uvcMeasur</button></a>
      </div>
      <div class="col-lg-6">
          <div class="vxone-decoraiton">
            <img class="decor-dots-vxone" src="assets/images/VXone-num.jpg" alt="">
          </div>
      </div>
      <div class="col-lg-6"></div>
        <!-- <div class="col-lg-6">
            <ngx-gallery class="ngx-gallery" style="width: 110px; height: 38px; float: right;" [options]="galleryOptions" [images]="galleryImages" ></ngx-gallery>
          </div> -->
    </div>
  </div>

  <div class="container information-section">
    <div class="row">
      <div class="col-lg-12">
        <ngx-gallery class="ngx-gallery" style="width: 100%; height: 600px; float: right;" [options]="galleryOptions" [images]="galleryImages" ></ngx-gallery>
      </div>
    </div>
  </div>

  <div class="exposure1">
    <div class="row">
      <div class="col-lg-7">
      <div class="exposure-section1">
          <div class="col-lg-12">
            <p class="exposure-time" translate>ones-page.exposure-time</p>
            <p class="exposure-title" translate>ones-page.exposure-title</p>
          </div>
          <div class="col-12 illustration1">
          <img class="" src="assets/images/Illustration-range.png" alt="">
          </div>
      </div>
      </div>
      <div class="col-lg-5">
        <div class="exposure-section1">
            <div class="col-lg-12">
              <p class="exposure-time" translate>ones-page.tablet</p>
              <p class="exposure-title" translate>ones-page.tablet-text</p>
            </div>
            <div class="col-12 application">
            <img class="" src="assets/images/application.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-12">
          <p class="download1" translate>ones-page.tablet-incl</p>
          <img class="decor-dots-xs1" src="assets/images/Decor-Dots-xs.png" alt="UV Lamp" >
        </div>
      </div>
    </div>
  </div>

  <div class="information-section">
    <hr class="new1">
    <div class="row" (click)="openDialogA()">
      <div class="col-9">
        <p class="blog-title1" translate>ones-page.configurations</p>
      </div>
      <div class="col-3">
        <img class="arrow-down" src="assets/images/arrow-down.png">
      </div>
    </div>
    <div class="content" id="{{'a'}}">
      <p translate>ones-page.config-text</p>
      <img class="vxone-models" src="assets/images/vxones-models.jpg" alt="VX ONE S MODELS">
    </div>
    <hr class="new1">
    <div class="row" (click)="openDialogB()">
      <div class="col-9">
        <p class="blog-title1" translate>ones-page.effectiveness</p>
      </div>
      <div class="col-3">
        <img class="arrow-down" src="assets/images/arrow-down.png">
      </div>
    </div>
    <div class="content" id="{{'b'}}">
        <p translate>ones-page.effect-text <a href="https://uvphotons.com/datasheet/P_2020_1015_VXONE.pdf">{{'ones-page.here' | translate }}</a></p>

        <p  translate>ones-page.effect-text1 <a href="https://uvphotons.com/datasheet/UVC_100TRI.pdf">{{'ones-page.dosimeters' | translate }}</a></p>
    </div>
    <hr class="new1">
    <div class="row" (click)="openDialogC()">
      <div class="col-9">
        <p class="blog-title1" translate>ones-page.certifications</p>
      </div>
      <div class="col-3">
        <img class="arrow-down" src="assets/images/arrow-down.png">
      </div>
    </div>
    <div class="content" id="{{'c'}}">
      <p translate>ones-page.certif-text <a href="https://uvphotons.com/datasheet/VX-ONES20200802-CE.pdf">{{'ones-page.here' | translate }}</a></p>
  </div>
    <hr class="new1">
  </div>

  <div class="section-products">
    <div class="row">
      <div class="col-lg-6">
        <a routerLink="/products/vxone-air" routerLinkActive="active">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/VXONE_AIR.png" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>product</div>
            <div class="lamp-titles">VX ONE AIR</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 c-serias-margin">
        <a routerLink="/products/lamps" fragment="x-serias-lamp" routerLinkActive="active" href="">
          <div class="pro-box-right">
          <img class="lamp-img" src="assets/images/X-35W.jpg" alt="UV Lamp" >
          </div>
          <div class="pro-box-left">
            <div class="prod" translate>product</div>
            <div class="lamp-titles" translate>lamps <br> {{'series' | translate }}</div>
            <div class="lamp-arrow"><span style='font-size: 32px;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="blog" id="stories">
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/odor-from-uvc-systems" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">26. Jul - Ljubljana</p>
              <p class="blog-title" translate>ones-page.uv-systems</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <div class="row">
      <div class="col-12 blog-post">
        <a href="https://uvphotons.com/stories/about-uv-safety" style="text-decoration: none; color: black;">
          <div class="row">
            <div class="col-9">
              <p class="blog-data">31. May - Ljubljana</p>
              <p class="blog-title" translate>ones-page.uv-safety</p>
            </div>
            <div class="col-3 arrow" >
              <span  style='font-size: 32px; color: #9000FF; font-weight: 200;'>&#8594;</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr class="new1">
    <a routerLink="/stories"  routerLinkActive="active" href="#" style="text-decoration: none; color: black;">
      <button type="button" class="btn-stories" translate>all-stories</button>
    </a>
  </div>
</div>

<jw-modal id="order-modal">
  <app-ordermodal></app-ordermodal>
  <!-- <button (click)="closeModal('order-modal');" class="btn-close">Close</button> -->
</jw-modal>
